<!DOCTYPE html>
<!--
Katy worked on 3/1
-->
<html>
    <head>
        <title>Icicle tree</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="#"/>
        <style>

.d3-tip {
    line-height: 1;
    padding: 6px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
    font: 12px sans-serif;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
    margin: -2px 0 0 0;
    top: 100%;
    left: 0;
}
        </style>
    </head>
    <body>
        <p><a href="{{ url_for('rects') }}">Rectangles tree</a> (<a href="https://bl.ocks.org/mbostock/1093025#index.html">original</a>)</p>
            <p><a href="{{ url_for('rt_tree') }}">Reingold-Tilford tree</a> (original)</p>
            <p><a href="{{ url_for('icicle') }}">Icicle tree</a> (<a href="https://bl.ocks.org/mbostock/1005873">original</a>)</p>
            <p>To zoom, click on any rectangle. To zoom out, click the top rectangle. </p>
        <div id="icicle"></div>
        <div id="key"></div>
        <script src="//d3js.org/d3.v4.min.js"></script>
        <script src="../static/d3-tip.js"></script>
        <script>function parseNewick(a){for(var e=[],r={},s=a.split(/\s*(;|\(|\)|,|:)\s*/),t=0;t<s.length;t++){var n=s[t];switch(n){case"(":var c={};r.branchset=[c],e.push(r),r=c;break;case",":var c={};e[e.length-1].branchset.push(c),r=c;break;case")":r=e.pop();break;case":":break;default:var h=s[t-1];")"==h||"("==h||","==h?r.name=n:":"==h&&(r.length=parseFloat(n))}}return r}</script>
        <script>
//katy
//helpful link https://github.com/d3/d3-hierarchy/issues/50
var width = 960,
    height = 500, //katy ??
    margin = {top: 20, right: 90, bottom: 30, left: 90};

var tool_tip = d3.tip()
    .attr("class", "d3-tip")
    .offset([-8, 0])
    .html(function(d){ //katy
          
          if (d.id === 1) {
              return "<p>Function: " + d.data.name + "</p>";
          }
          if (d._perfdata.count > 0) {
              return "<p>Primitive instance: " + d.data.name.substring(9) + "</p>"+
                    "<p>Count: " + d._perfdata.count + "</p>" +
                    "<p>Average time: " + prettyprintTime(d._perfdata.avg_time) + "</p>";
          } else if (d._perfdata.direct_count > 0) {
              return "<p>Primitive instance: " + d.data.name.substring(9) + "</p>" +
                    "<p>Direct count: " + d._perfdata.direct_count + "</p>" +
                    "<p>Average direct time: " + prettyprintTime(d._perfdata.avg_direct_time) + "</p>";
          } else {
              return "<p>Primitive instance: " + d.data.name.substring(9) + "</p>";
          }
        });

var x = d3.scaleLinear()
    .range([0, width]);

var y = d3.scaleLinear()
    .range([0, height]);

var svg = d3.select("#icicle").append("svg")
    .attr("width", width)
    .attr("height", height);

svg.call(tool_tip);

var rect = svg.selectAll("rect");

var treemap = d3.tree().size([height-margin.top-margin.bottom, width-margin.left-margin.right]);

partition = d3.partition()
        .size([height-margin.top-margin.bottom, width-margin.left-margin.right-300]) //katy NOT GOOD
        .padding(0);

d3.queue()
        .defer(d3.text, "{{ treeformat }}")
        .defer(d3.csv, "{{ perfdata }}")
        .await(analyze);

function analyze(error, treeformat, perfdata) {
    if (error) throw error;
    root = d3.hierarchy(parseNewick(treeformat), function(d) { return d.branchset; });
    root.sum(function(d){return 1;});
    root.sort(function(a,b) {return b.value - a.value;});
    
    partition(root);

    // Collecting the performance times
    domainTimes = [];
    prim_inst = [];
    perfdata.map(function(d){
        var avgTime = ((+d.time) + (+d.direct_time))/(d.count + d.direct_count);
        if (avgTime > 0) {
            domainTimes.push(avgTime * 1.e-9);
        }
        prim_inst.push(d.primitive_instance);
    });
    
    var colors = ["#edf8fb", "#b2e2e2", "#66c2a4", "#2ca25f", "#006d2c"];
    colorTimeScale = d3.scaleQuantize() //went with log scale
                .domain(d3.extent(domainTimes)) //need to put scale on graph
                .range(colors);
   
    i = 0;
    update(root, perfdata);
    addLegend(d3.extent(domainTimes), colors);
};


function update(root, perfdata) {
    
    var nodes = root.descendants();
    node = svg.selectAll("rect")
        .data(nodes, function(d){
          var nodename = d.data.name;
          // Change time to time-per-instance //katy
          if (prim_inst.indexOf(nodename) >= 0) {
            node_perfdata = perfdata[prim_inst.indexOf(nodename)];    
            node_perfdata.avg_time = (node_perfdata.time / node_perfdata.count) * 1.e-9; //katy nanos are SMALL
            node_perfdata.avg_direct_time = (node_perfdata.direct_time / node_perfdata.direct_count) * 1.e-9;
            d._perfdata = perfdata[prim_inst.indexOf(nodename)];  
          }
          return d.id || (d.id = ++i); 
        })
        .enter().append("rect")
        .attr("x", function(d) { return d.x0; })
        .attr("y", function(d) { return d.y0; })
        .attr("width", function(d) { return d.x1-d.x0; })
        .attr("height", function(d) { return d.y1-d.y0; })
        .attr("stroke", "black")
        .attr("stroke-dasharray", function(d){
            if (d._perfdata) {
                if (d._perfdata.avg_direct_time > 0) {
                    return "5,5";
                }
            }
        })
        .attr("fill", function(d) { //katy
        if (d._perfdata) { //color circle by time-per-instance and pattern by direct?
            if (d._perfdata.avg_time > 0) {
                return colorTimeScale(d._perfdata.avg_time);
            }
            else if (d._perfdata.avg_direct_time > 0) {
                return colorTimeScale(d._perfdata.avg_direct_time);
            }
            return colorTimeScale(0);
        }
        return "grey";
        }) //katy depth or height?
        .on("click", clicked)
        .on("mouseenter", tool_tip.show)
        .on("mouseout", tool_tip.hide);
}

function addLegend(domainTimes, colors) {
    //gotta get the domain values for each color
    var domainVals = [colorTimeScale.invertExtent(colors[0])[0]];
    var greatestVal = colorTimeScale.invertExtent(colors[colors.length-1])[1];
    for (var i=0; i<colors.length; i++){
        domainVals.push(colorTimeScale.invertExtent(colors[i])[1]);
    }

    var x = d3.scaleLinear()
        .domain([0, greatestVal])
        .range([0, 200]);

    var xAxis = d3.axisBottom(x)
        .tickSize(13)
        .tickValues(domainVals);

    var g = d3.select("#key").append("svg")
        .attr("width", 50 + margin.right + margin.left)
        .attr("height", 30 + margin.bottom)
      .append("g")
        .attr("transform", "translate(16,17)")
              //+ margin.left + "," + margin.top + ")")
              .call(xAxis);

    g.select(".domain")
        .remove();

    g.selectAll("rect")
      .data(colorTimeScale.range().map(function(color) {
        var d = colorTimeScale.invertExtent(color);
        if (d[0] == null) d[0] = x.domain()[0];
        if (d[1] == null) d[1] = x.domain()[1];
        return d;
      }))
      .enter().insert("rect", ".tick")
        .attr("height", 8)
        .attr("x", function(d) { return x(d[0]); })
        .attr("width", function(d) { return x(d[1]) - x(d[0]); })
        .attr("fill", function(d) { return colorTimeScale(d[0]); });

    g.append("text")
        .attr("fill", "#000")
        .attr("font-weight", "bold")
        .attr("text-anchor", "start")
        .attr("y", -6)
        .text("Average time per instance");   
    g.append("text")
        .attr("fill", "#000")
        .attr("font-weight", "bold")
        .attr("text-anchor", "start")
        .attr("y", 40)
        .text("Grey indicates no time reported.");   
}

function clicked(d) {
    x.domain([d.x0, d.x1]);
    y.domain([d.y0, height]).range([d.depth ? 20 : 0, height]);
    node.transition()
        .duration(750)
        .attr("x", function(d) { return x(d.x0); })
        .attr("y", function(d) { return y(d.y0); })
        .attr("width", function(d) { return x(d.x1) - x(d.x0); })
        .attr("height", function(d) { return y(d.y1) - y(d.y0); });
}


function prettyprintTime(time) {
    var exp = -Math.floor( Math.log(time) / Math.log(10));
  
    if ((exp >= 0) && (exp <= 3)) {
        return (time * 1000).toFixed(4) + " ms"; //millisecond
    } 
    else if ((exp > 3) && (exp <= 6)) {
        return (time * 1000000).toFixed(4)  + " us"; //microsecond
    }
    else if ((exp > 6) && (exp <= 9)){
        return (time * 1000000000).toFixed(4)  + " ns"; //nanosecond
    }
    else if ((exp > 9) && (exp <= 12)) {
        return (time * 1000000000000).toFixed(4)  + " ps"; //picosecond
    }
    return time + " s";
    
}
        </script>
    </body>
</html>
